{% extends "base.html" %}

{% block content %}
<div class='login'>
  <h1>Тест по Химии</h1>
  <p>1. Что такое атом? <p>
  <p>Варианты ответов:</p>
  <a href="yes">Наименьшая единица вещества/</a>
  <a href="no">Сложное соединение/</a>
  <a href="no">Группа молекул</a>
  <p>2. Какой из следующих элементов является металлом</p>
  <p>Варианты ответов:</p>
  <a href="no">Кислород/</a>
  <a href="no">Углерод/</a>
  <a href="yes">Железо</a>
  <p>3. Что происходит в ходе химической реакции?</p>
  <p>Варианты ответов:</p>
  <a href="no">Вещества остаются неизменными/</a>
  <a href="yes">Вещества превращаются в другие вещества/</a>
  <a href="no">Вещества смешиваются без изменений</a>
  <p>4. Как называется связь, образующаяся при передаче электрона от одного атома к другому?</p>
  <p>Варианты ответов:</p>
  <a href="no">Ковалентная связь/</a>
  <a href="yes">Ионная связь/</a>
  <a href="no">Металлическая связь</a>
  <p>5. Какой из следующих процессов является окислительно-восстановительной реакцией?</p>
  <p>Варианты ответов:</p>
  <a href="yes">Сгорание углеводородов/</a>
  <a href="no">Растворение соли в воде/</a>
  <a href="no">Смешивание кислоты и основания</a>
{% endblock %}